.schedule-widget {
  display: flex;
  flex-direction: column;

  .loader {
    margin: 0.5rem auto;
  }

  .details-col {
    display: flex;
    flex-wrap: wrap;

    .facility-image {
      @media (min-width: @screen-md) {
        max-width: 100%;
      }
    }

    .details {
      &-wrapper {
        display: flex;
        flex-direction: column;

        .service-item {
          display: inline-block;
          border-radius: 50%;
          background: @gray-mid-light;
          color: white;
          width: 3.5rem;
          line-height: 3.5rem;
          font-size: 2.5rem;
          margin-right: 0.2rem;
          margin-top: 0.5rem;
          margin-bottom: 0;
          text-align: center;
        }
      }

      &-item {
        margin-top: 0.5rem;
      }
    }
  }
}
